
.navContainer{
    background-color: grey;
    color: white;
    border: 1px solid black;
    width: 840px;
}
.nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    height:75px;
    width: 840px;
    background-color: black;
    display: grid;
    grid-template-rows: 23px 23px 23px;
    grid-template-columns: 100px 25% 30px 30px 30px;

}
.nav1{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}
.navTitle{
    font-size: 20px;
    font-weight: bold;
}
.navSmall{
    font-size: 10px;
}

.container{
    background-color: grey;
    color: white;
    border: 1px solid black;
    width: 800px;
    padding: 20px;

}